.container {
  max-width: 800px;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

#url-input {
  border-radius: 30px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.form-inline button[type="submit"] {
  border-radius: 30px;
  padding: 10px;
  font-size: 1.5rem;
}
